.contact-link:hover .animate-arrow-up {
  animation: moveUp 0.8s ease-in-out;
}


@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) translateY(-10px) scale(0.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-10px) translateY(10px) scale(0.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}